@namespace BootstrapAdmin.Web.Components

<div class="row g-3 form-inline">
    <div class="col-sm-12">
        <BootstrapInput @bind-Value="Value.ProgramName" ShowLabel="true" />
    </div>
    <div class="col-sm-12">
        <BootstrapInput @bind-Value="Value.ProgramPath" ShowLabel="true" />
    </div>

</div>
