@namespace BootstrapAdmin.Web.Components

<div class="row g-3">
    <div class="col-12">
        <CardPhoto TValue="string" ShowProgress="true" ShowDeletedButton="@ShowDeletedButton" ShowDownloadButton="true" OnDownload="OnDownload" DefaultFileList="PreviewFileList" OnDelete="OnDeleteFile"></CardPhoto>
    </div>
</div>
