@namespace BootstrapAdmin.Web.Components

<div class="row g-3 form-inline">
    <div class="col-sm-6">
        <BootstrapInput @bind-Value="Value.Category" />
    </div>
    <div class="col-sm-6">
        <BootstrapInput @bind-Value="Value.Name" />
    </div>
    <div class="col-sm-6">
        <BootstrapInput @bind-Value="Value.Code" />
    </div>
    <div class="col-sm-6">
        <Select @bind-Value="Value.Define" ShowSearch="true" IsVirtualize="true" />
    </div>
    <div class="col-sm-6">
        <Switch @bind-Value="Value.IsEnable" />
    </div>
    <div class="col-sm-6">
        <BootstrapInput @bind-Value="Value.ShowOrder" />
    </div>
    <div class="col-sm-6">
        <BootstrapInput @bind-Value="Value.param1" />
    </div>
    <div class="col-sm-6">
        <BootstrapInput @bind-Value="Value.param2" />
    </div>
    <div class="col-sm-6">
        <BootstrapInput @bind-Value="Value.param3" />
    </div>
    <div class="col-sm-6">
        <BootstrapInput @bind-Value="Value.param4" />
    </div>
    <div class="col-sm-6">
        <BootstrapInput @bind-Value="Value.param5" />
    </div>
    <div class="col-sm-6">
        <BootstrapInput @bind-Value="Value.param6" />
    </div>
    <div class="col-sm-6">
        <BootstrapInput @bind-Value="Value.param7" />
    </div>
    <div class="col-sm-6">
        <BootstrapInput @bind-Value="Value.param8" />
    </div>
</div>