@inherits LayoutComponentBase

<nav class="navbar navbar-expand-md navbar-light" style="background-color: #fcf3f1;">
    <div class="container-fluid" style="display:flex; flex-direction:column;">
        <a class="navbar-brand" href=""><img src="/images/c9fb2a9e812153a139353118104ca03a.jpg" class="img-fluid" /></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-4">
                <li class="nav-item dropdown">
                    <a class="nav-link active fw-bold" href="/frontindex" role="button" style="font-size:large; color:grey;">
                        Home
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active fw-bold" href="#" id="navbardropdown" role="button" data-bs-toggle="dropdown" style="font-size:large; color:grey;">
                        Profile
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbardropdown">
                        <li><a class="dropdown-item fw-bold" href="about-us" style="font-size:large; color:grey;">Sejarah</a></li>
                        <li><a class="dropdown-item fw-bold" href="our-services" style="font-size:large; color:grey;">Visi dan Misi</a></li>
                        <li><a class="dropdown-item fw-bold" href="traffic-info" style="font-size:large; color:grey;">Peran, Fungsi, dan Tugas</a></li>
                        <li><a class="dropdown-item fw-bold" href="traffic-info" style="font-size:large; color:grey;">Struktur Organisasi</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active fw-bold" href="#" id="navbardropdown" role="button" data-bs-toggle="dropdown" style="font-size:large; color:grey;">
                        Siaran Pers
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active fw-bold" href="agencies" role="button" style="font-size:large; color:grey;">
                        Berita
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbardropdown">
                        <li><a class="dropdown-item fw-bold" href="how-to" style="font-size:large; color:grey;">Operasi Militer</a></li>
                        <li><a class="dropdown-item fw-bold" href="looking" style="font-size:large; color:grey;">Bakti TNI</a></li>
                        <li><a class="dropdown-item fw-bold" href="want-to" style="font-size:large; color:grey;">Diklat</a></li>
                        <li><a class="dropdown-item fw-bold" href="want-to" style="font-size:large; color:grey;">Binsat</a></li>
                        <li><a class="dropdown-item fw-bold" href="want-to" style="font-size:large; color:grey;">Kerjasama</a></li>
                        <li><a class="dropdown-item fw-bold" href="want-to" style="font-size:large; color:grey;">Opini</a></li>
                        <li><a class="dropdown-item fw-bold" href="want-to" style="font-size:large; color:grey;">Eksternal</a></li>
                        <li><a class="dropdown-item fw-bold" href="want-to" style="font-size:large; color:grey;">Galeri Foto</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active fw-bold" href="#" id="navbardropdown" role="button" data-bs-toggle="dropdown" style="font-size:large; color:grey;">
                        Informasi
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbardropdown">
                        <li><a class="dropdown-item fw-bold" href="how-to" style="font-size:large; color:grey;">Link Satuan</a></li>
                        <li><a class="dropdown-item fw-bold" href="looking" style="font-size:large; color:grey;">Government Public Relations</a></li>
                        <li><a class="dropdown-item fw-bold" href="want-to" style="font-size:large; color:grey;">Reformasi Birokrasi</a></li>
                        <li><a class="dropdown-item fw-bold" href="want-to" style="font-size:large; color:grey;">Lapor </a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active fw-bold" aria-current="page" href="photo-gallery" style="font-size:large; color:grey;">Rekrutmen</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link active fw-bold" aria-current="page" href="download-area" style="font-size:large; color:grey;">Penerangan Pasukan</a>
                    <ul class="dropdown-menu" aria-labelledby="navbardropdown">
                        <li><a class="dropdown-item fw-bold" href="how-to" style="font-size:large; color:grey;">Lembar Penpas</a></li>
                        <li><a class="dropdown-item fw-bold" href="want-to" style="font-size:large; color:grey;">Pengumuman </a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active fw-bold" aria-current="page" href="link" style="font-size:large; color:grey;">Publikasi</a>
                    <ul class="dropdown-menu" aria-labelledby="navbardropdown">
                        <li><a class="dropdown-item fw-bold" href="how-to" style="font-size:large; color:grey;">Majalah TNI</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active fw-bold" aria-current="page" href="leave-message" style="font-size:large; color:grey;">Kontak</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    @Body
</div>
<div class="row mt-5" style="background-color:	#198496; text-align:center; display:flex;flex-direction:column">
    <div>
        <p class="mt-2">
            <a href=""><img src="/images/logo-satuan.png" class="img-fluid" /></a>
            <br />
            Copyright © 2024 PUSPEN Markas Besar Tentara Nasional Indonesia
            <br />
            Silakan gunakan browser web Edge atau Chrome atau yang lebih baru untuk melihat situs web ini.
        </p>
    </div>
    @*  <img src="/images/fronts/qrcode.png" style="width:100px" />

    *@
</div>
