@inherits LayoutComponentBase

<nav class="navbar navbar-expand-md navbar-light" style="background-color: #C4DFEA;">
    <div class="container-fluid" style="display:flex; flex-direction:column;">
        <a class="navbar-brand" href=""><img src="/images/fronts/top_03_new.jpg" class="img-fluid" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-4">
                <li class="nav-item dropdown">
                    <a class="nav-link active fw-bold" href="/FrontIndex" role="button" style="font-size:large; color:#990000;">
                        回首頁
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" style="font-size:large; color:#990000;">
                        關於我們
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item fw-bold" href="about-us" style="font-size:large; color:#990000;">中心簡介</a></li>
                        <li><a class="dropdown-item fw-bold" href="our-services" style="font-size:large; color:#990000;">服務項目</a></li>
                        <li><a class="dropdown-item fw-bold" href="traffic-info" style="font-size:large; color:#990000;">交通訊息</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" style="font-size:large; color:#990000;">
                        最新消息
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item fw-bold" href="central-message" style="font-size:large; color:#990000;">中心消息</a></li>
                        <li><a class="dropdown-item fw-bold" href="event" style="font-size:large; color:#990000;">活動快訊</a></li>
                        <li><a class="dropdown-item fw-bold" href="education-training" style="font-size:large; color:#990000;">教育訓練公告</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active fw-bold" href="agencies" role="button" style="font-size:large; color:#990000;">
                        各目的機關
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" style="font-size:large; color:#990000;">
                        志工召募
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item fw-bold" href="how-to" style="font-size:large; color:#990000;">如何當志工</a></li>
                        <li><a class="dropdown-item fw-bold" href="looking" style="font-size:large; color:#990000;">我要找志工</a></li>
                        <li><a class="dropdown-item fw-bold" href="want-to" style="font-size:large; color:#990000;">我要當志工</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active fw-bold" aria-current="page" href="photo-gallery" style="font-size:large; color:#990000;">相片集錦</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link active fw-bold" aria-current="page" href="download-area" style="font-size:large; color:#990000;">下載專區</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active fw-bold" aria-current="page" href="link" style="font-size:large; color:#990000;">網站連結</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active fw-bold" aria-current="page" href="leave-message" style="font-size:large; color:#990000;">我要留言</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    @Body
</div>
<div class="row mt-5" style="background-color:	#198496; text-align:center; display:flex;flex-direction:column">
    <div>
        <p class="mt-2">
            服務時間： 每週一至週五，上午8時至下午5時 (國定節日依政府規定辦理) 。
            <br />
            Copyright © 2012 新竹縣志願服務推廣中心，
            <br />
            請用 Edge 或 Chrome 以上版本網頁瀏覽器觀看本網站 。
        </p>
    </div>
    @*  <img src="/images/fronts/qrcode.png" style="width:100px" />

    *@
</div>
