@inherits LayoutComponentBase

<div class="error">
    <div class="bg">
        <img alt="404" src="@Image" />
    </div>
    <h3>@Localizer["NotFound"]</h3>
    <p>@Localizer["NotFoundMemo"]</p>
</div>
