@inject IStringLocalizer<AdminLoginFooter> Localizer;

<div class="login-footer">
   <ul class="login-footer-body">
       <!--
       <li><a href="https://www.gitee.com/LongbowEnterprise" target="_blank"><i class="fa-solid fa-copyright"></i> Bootstrap Admin</a></li>
        <li><a href="https://www.gitee.com/LongbowEnterprise/BootstrapAdmin/wikis" target="_blank">@Localizer["HelpDocument"]</a></li>
       -->
       <!--
       <li><a href="Account/Login?View=Login">系統預設</a></li>
       <li><a href="Account/Login?View=Login-Gitee">高仿碼雲</a></li>
       <li><a href="Account/Login?View=Login-Blue">藍色簡約</a></li>
       <li><a href="Account/Login?View=Login-Tec">科技動感</a></li>
       <li><a href="Account/Login?View=Login-LTE">Admin-LTE</a></li>
       -->
    </ul>
</div>
