<div class="row g-3 form-inline">
    <div class="col-12 col-sm-6">
        <CardUpload TValue="string"  IsMultiple="true"  ShowDownloadButton="true" DefaultFileList="PreviewFileList" OnChange="OnSaveIcon" OnDelete="OnDeleteIcon"></CardUpload> 
    </div>
</div>

